.future-value-result {
  font-size: 25px;
  font-weight: bold;
  text-align: center;

  padding-top: 50px;
  padding-bottom: 50px;

  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
}
