<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-3" [routerLink]="['/net-present-value']">
                <div class="card-img-wrapper">
                    <img src="../../../assets/images/calculator-icon.png" alt="Net Present Value 1" class="card-img-top">
                </div>
                <div class="card-footer">
                    <i class="fa fa-book text-secondary"></i> Net Present Value 1 </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-3" [routerLink]="['/net-present-value']">
                <div class="card-img-wrapper">
                    <img src="../../../assets/images/calculator-icon.png" alt="Net Present Value 2" class="card-img-top">
                </div>
                <div class="card-footer">
                    <i class="fa fa-book text-secondary"></i> Net Present Value 2 </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-3" [routerLink]="['/present-value']">
                <div class="card-img-wrapper">
                    <img src="../../../assets/images/calculator-icon.png" alt="Present Value" class="card-img-top">
                </div>
                <div class="card-footer">
                    <i class="fa fa-book text-secondary"></i> Present Value </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-3" [routerLink]="['/future-value']">
                <div class="card-img-wrapper">
                    <img src="../../../assets/images/calculator-icon.png" alt="Future Value" class="card-img-top">
                </div>
                <div class="card-footer">
                    <i class="fa fa-book text-secondary"></i> Future Value </div>
            </div>
        </div>
    </div>
</div>
